on:
  push:
    branches:
    - main
    tags:
    - '!*'
  pull_request:
    branches:
    - main

name: main
jobs:
  build_linux:
    name: Build Linux
    container:
      image: ubuntu:20.04
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        compiler: [ gcc, clang ]
        include:
          - compiler: gcc
            packages: gcc g++
          - compiler: clang
            packages: clang

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        set -e
        export DEBIAN_FRONTEND=noninteractive
        apt-get update -y
        apt-get install -y autoconf make pkg-config ${{matrix.packages}}

    - name: Configure ImageMagick
      run: |
        export CC=${{matrix.compiler}}
        export CFLAGS="-Wno-deprecated-declarations"
        ./configure --with-quantum-depth=16 --enable-hdri=no --without-perl --prefix=/usr

    - name: Build ImageMagick
      run: |
        set -e
        make
        make install

  build_macos:
    name: Build MacOS
    runs-on: macos-13

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        set -e
        export HOMEBREW_NO_AUTO_UPDATE=1
        brew install autoconf libtool libxml2 pkg-config

    - name: Configure ImageMagick
      run: |
        export CFLAGS="-Wno-deprecated-declarations"
        export PKG_CONFIG_PATH="/usr/local/opt/libxml2/lib/pkgconfig"
        ./configure --with-quantum-depth=16 --enable-hdri=no --without-perl

    - name: Build ImageMagick
      run: |
        set -e
        make install

  build_windows:
    name: Build Windows
    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v4
      with:
        path: ImageMagick

    - uses: actions/checkout@v4
      with:
        repository: ImageMagick/ImageMagick-Windows
        path: ImageMagick-Windows
        ref: refs/heads/main

    - name: Clone repositories
      shell: cmd
      run: |
        for /f "tokens=* USEBACKQ" %%F IN (`git -C ImageMagick6 rev-parse HEAD`) do set COMMIT_SHA=%%F
        cd ImageMagick-Windows
        CloneRepositories.IM6.cmd %COMMIT_SHA%

    - name: Build configure
      shell: cmd
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat"
        cd ImageMagick-Windows\Configure
        msbuild Configure.sln /m /t:Rebuild /p:Configuration=Release,Platform=x64

    - name: Configure ImageMagick
      shell: cmd
      run: |
        cd ImageMagick-Windows\Configure
        Configure.exe /noWizard /VS2022 /x64 /smtd

    - name: Build ImageMagick
      shell: cmd
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat"
        cd ImageMagick-Windows
        msbuild IM6.StaticDLL.sln /m /t:Rebuild /p:Configuration=Release,Platform=x64

  build_msys2:
    name: Build MSYS2
    runs-on: windows-latest

    steps:
    - name: Prepare git
      run: git config --global core.autocrlf false

    - uses: actions/checkout@v4

    - uses: actions/checkout@v4
      with:
        repository: ImageMagick/ImageMagick-Windows
        path: ImageMagick-Windows
        ref: refs/heads/main

    - uses: msys2/setup-msys2@v2
      with:
        install: mingw-w64-x86_64-toolchain base-devel binutils
        update: true

    - name: Building ImageMagick
      run: cd ImageMagick-Windows/Build/MSYS2 && makepkg-mingw --noconfirm --syncdeps
      env:
        MINGW_ARCH: mingw64
        PKGEXT: ".pkg.tar.xz"
      shell: msys2 {0}
