on:
  push:
    branches:
    - main
    tags:
    - '!*'
  pull_request:
    branches:
    - main

name: main
jobs:
  build_linux:
    name: Build Linux
    container:
      image: ubuntu:bionic
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        compiler: [ gcc, clang ]

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 1

    - name: Install dependencies
      run: |
        set -e
        apt-get update -y
        apt-get install -y autoconf pkg-config ${{matrix.compiler}}

    - name: Configure ImageMagick
      run: |
        export CC=${{matrix.compiler}}
        export CFLAGS="-Wno-deprecated-declarations"
        ./configure --with-quantum-depth=16 --enable-hdri=no --without-perl --prefix=/usr

    - name: Build ImageMagick
      run: |
        set -e
        make
        make install

  build_macos:
    name: Build MacOS
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 1

    - name: Install dependencies
      run: |
        set -e
        export HOMEBREW_NO_AUTO_UPDATE=1
        brew install autoconf libtool pkg-config libxml2

    - name: Configure ImageMagick
      run: |
        export CFLAGS="-Wno-deprecated-declarations"
        export PKG_CONFIG_PATH="/usr/local/opt/libxml2/lib/pkgconfig"
        ./configure --with-quantum-depth=16 --enable-hdri=no --without-perl

    - name: Build ImageMagick
      run: |
        set -e
        make install

  build_windows:
    name: Build Windows
    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v2
      with:
        path: ImageMagick
        fetch-depth: 1

    - uses: actions/checkout@v2
      with:
        repository: ImageMagick/ImageMagick6-Windows
        path: ImageMagick6-Windows
        ref: refs/heads/main
        fetch-depth: 1

    - name: Clone repositories
      shell: cmd
      run: |
        cd %GITHUB_WORKSPACE%\ImageMagick6-Windows
        CloneRepositories.cmd https://github.com/ImageMagick shallow

    - name: Build configure
      shell: cmd
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat"
        cd %GITHUB_WORKSPACE%\ImageMagick6-Windows\VisualMagick\configure
        msbuild configure.2022.sln /m /t:Rebuild /p:Configuration=Release,Platform=x86

    - name: Configure ImageMagick
      shell: cmd
      run: |
        cd %GITHUB_WORKSPACE%\ImageMagick6-Windows\VisualMagick\configure
        configure.exe /noWizard /VS2022 /x64 /smtd

    - name: Build ImageMagick
      shell: cmd
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat"
        cd %GITHUB_WORKSPACE%\ImageMagick6-Windows\VisualMagick
        msbuild VisualStaticMTD.sln /m /t:Rebuild /p:Configuration=Release,Platform=x64
